.friends {
  display: flex;
  align-items: center;
  margin-top: 30px;
  flex-direction: column;
  width: 370px;
}

.friendList {
  display: flex;
  flex-direction: column;
  width: inherit;
  padding: 0;
  gap: 20px;
}
