.item {
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #c6cccced;
  padding: 20px;
  border-radius: 4px;
}

.avatar {
  border-radius: 50%;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.nameStatusWrapper {
  width: 100%;
}

.name {
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 15px;
  color: #524a4d;
}

.statusWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.status {
  margin-right: 5px;
  font-size: 14px;
}

.onlineIcon,
.offlineIcon {
  margin-right: 5px;
}

.statusText {
  font-weight: bold;
}

.online {
  color: green;
}

.offline {
  color: red;
}
