.item {
  display: flex;
  align-items: center;
  box-shadow: 0 0 10px #c6cccced;
  padding: 20px;
  border-radius: 4px;
}

.avatar {
  border-radius: 50%;
  margin-bottom: 10px;
}

.nameStatusWrapper {
  width: 100%;
}

.name {
  color: #333333;
  font-size: 16px;
  margin-bottom: 5px;
}

.statusWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.status {
  margin-right: 5px;
  font-size: 14px;
}

.onlineIcon,
.offlineIcon {
  margin-right: 5px;
}

.statusText {
  font-weight: bold;
}

.online {
  color: green;
}

.offline {
  color: red;
}
